
.body{ background-color:  aliceblue;}

.formulaire{ margin-top: 50px; margin:auto;}
.saisieNumcli{ width: 200px; margin-top: 20px;}
.champSaisieNumCli{
    
    width: 35px; text-align:  center; background-color:  beige;
}

.bouton{ border-radius:  15px; width: 60px; text-align:  center;
}

.separateur{
    
   margin-left: 0px; width: 600px;
    
}

.infosClient {
           background-color: silver;
           border-radius: 10px;
           width: 1000px;
           border: solid deepskyblue; 
           background-color:  beige;
}

.tableau {
           background-color: silver;
           border-radius: 10px;
           width: 1000px;
           border: solid deepskyblue;            
}




.colNumCom    {width: 40%; text-align:  center; }
.colDateCom   {width: 40%; text-align:  center; }
.colStatutCom {width: 20%; text-align:  center ;}


