<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
   
    <h:body>
       
      <ui:composition >
        
            <f:view locale="fr"> 
            <h:form  id="formulaireEx1" styleClass="formulaire"> 
                <p:messages id="messages" showDetail="true" closable="true"  showSummary="false"/>
                <p:panelGrid styleClass="saisieNumcom" columns="3"  >
                    <p:outputLabel value="#{msgs.saisieCom}" for="numcom"  />
                    <p:inputText   id="numcom" value="#{contEx1.numcomRecherche}"
                                   title="#{msgs.bulleSaisieCom}" styleClass="champSaisieNumCom"
                                   required="true"/>            
                    <p:commandButton value="OK" update=":formulaireEx1:PanneauInfosCommandes :formulaireEx1:PanneauInfosClient :formulaireEx1:messages :formulaireEx1:tableaulignescommande"  
                                     action="#{contEx1.ecouteurRecherche}"
                                     styleClass="bouton"/>
                </p:panelGrid>
                <p:separator  styleClass="separateur"/>
                <p:panel   id="PanneauInfosCommandes" header="#{msgs.infoCom} #{contEx1.commande.numCom}" 
                           styleClass="infosClient"                  
                           toggleable="true"  collapsed="false" 
                           closeSpeed="500"   toggleTitle="Réduire">
                    <p:outputLabel value="#{msgs.etatcmd}" />
                    <h:outputText value="#{contEx1.commande.etatCom}" />  
                    <br/>
                    <p:outputLabel value="#{msgs.montantht}" />
                    <h:outputText value="#{contEx1.montantCommandeHT}" ><f:convertNumber type="currency" currencySymbol="€"
                                                                                         groupingUsed="true" minFractionDigits="2"/></h:outputText> 
                    <br/>
                    <p:outputLabel value="#{msgs.montantttc}" />
                    <h:outputText value="#{contEx1.montantCommandeTTC}" ><f:convertNumber type="currency" currencySymbol="€"
                                                                                          groupingUsed="true" minFractionDigits="2"/></h:outputText> 
                    <br/>
                    <p:outputLabel value="#{msgs.date}" />
                    <h:outputText value="#{contEx1.commande.dateCom}"  >
                        <f:convertDateTime pattern="dd/MM/yyyy"  
                                           timeZone="Europe/Paris"/>
                    </h:outputText>        


                </p:panel> 
                <br />
                <p:panel   id="PanneauInfosClient" 
                           styleClass="infosClient"                  
                           toggleable="true"  collapsed="false" 
                           closeSpeed="500"   toggleTitle="Réduire">
                    <p:ajax event="toggle"   update="@this"/>
                    <p:outputLabel value="Numéro du client : " />
                    <h:outputText value="#{contEx1.commande.leClient.numCli}" />
                    <br/>
                    <p:outputLabel value="Nom du client : " />
                    <h:outputText value="#{contEx1.commande.leClient.nomCli}" />
                    <br/>
                    <p:outputLabel value="Adresse du client : " />
                    <h:outputText value="#{contEx1.commande.leClient.adrCli}" />
                    <br/>                  
                    <p:outputLabel value="Région du client : " />
                    <h:outputText value="#{contEx1.commande.leClient.laRegion.nomRegion}" />
                    <br/> 
                    <p:outputLabel value="Code région du client : " />
                    <h:outputText value="#{contEx1.commande.leClient.laRegion.codeRegion}" />
                    <br/>  
                    <p:outputLabel value="Taux de remise du client :" />
                    <h:outputText value="#{contEx1.commande.leClient.tauxRemise}" />
                </p:panel> 
                <br />

                <p:dataTable 
                    id="tableaulignescommande"
                    value="#{contEx1.commande.lesLignesDeCommande}" var="lignecmd" 
                    styleClass="tableau"
                    paginator="true" rows="3"
                    paginatorTemplate="{FirstPageLink} {PreviousPageLink}
                    {NextPageLink}  {PageLinks} {LastPageLink}"   
                    emptyMessage=""
                    >

                    <f:facet name="header">  
                        #{msgs.tableaulignecommande}#{contEx1.commande.numCom}
                    </f:facet> 

                    <p:column  headerText="Id Produit"  styleClass="colStatutCom">
                        #{lignecmd.id}
                    </p:column>


                    <p:column headerText="Désignation" styleClass="colStatutCom">
                        #{lignecmd.leProduit.desigProd}   
                    </p:column>
                    <p:column headerText="Quantité" styleClass="colStatutCom">
                        #{lignecmd.qteCom}   
                    </p:column>
                    <p:column headerText="Prix" styleClass="colStatutCom">
                        <h:outputText value="#{contEx1.prixUnitaireTranche(lignecmd)}">  <f:convertNumber type="currency" currencySymbol="€"
                                                                                                groupingUsed="true" minFractionDigits="2"/></h:outputText> 
                    </p:column>
                    <p:column headerText="CA HT" styleClass="colStatutCom">
                        <h:outputText value="#{contEx1.caLigneDeCommandeHt(lignecmd)}">  <f:convertNumber type="currency" currencySymbol="€"
                                                                                                          groupingUsed="true" minFractionDigits="2"/></h:outputText>  
                    </p:column>
                    <p:column headerText="CA TTC" styleClass="colStatutCom">
                        <h:outputText value="#{contEx1.caLigneDeCommandeTtc(lignecmd)}">  <f:convertNumber type="currency" currencySymbol="€"
                                                                                                           groupingUsed="true" minFractionDigits="2"/></h:outputText>  
                    </p:column>

                </p:dataTable> 

            </h:form>
        </f:view> 
        
      </ui:composition>      
    
    </h:body>
</html>

