<ui:composition
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
 >
 <h:form>
    <h3 style="margin-top:0;  text-align: center;  font-family:  serif ; background-color:  bisque;"   >
       Répartition des Chiffres d'Affaires par Catégorie Produit
    </h3> 
 </h:form>             
</ui:composition>
    
